@model IEnumerable<Data.Models.StudentCompetition>

<h2>My Competitions</h2>

@if (!Model.Any())
{
    <p>No competitions found.</p>
}
else
{
    <ul>
        @foreach (var competition in Model)
        {
            <li>
                @competition.Competition.CompetitionName
                <form asp-controller="Answer" asp-action="MyAnswer" method="get">
                    <input type="hidden" name="competitionId" value="@competition.CompetitionID" />
                    <button type="submit" class="competition-item">My Answer</button>
                    <a asp-action="Delete" asp-asp-controller="SC" asp-route-studentId="@competition.StudentID" asp-route-competitionId="@competition.CompetitionID">Delete</a>
                   
                </form>
            </li>
        }
    </ul>

   
}