<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
</head>
<body>
    <h1>Success</h1>
    <p>Bạn đã đăng ký tham gia cuộc thi thành công!</p>
    <a href="/">Quay lại trang chính</a>
</body>
</html>