@model Data.Models.Registration
@{
    ViewData["Title"] = "Delete";
}




<h3>Xác nhận từ chối</h3>


<form action="/Registration/Delete" method="post">
    <input type="hidden" name="id" value="@Model.RegistrationID" />
    <button type="submit" class="btn btn-danger">Delete</button> 
    <a href="/Registration/Index">Back to List</a>
</form>
