@model Data.Models.Registration
@{
    ViewData["Title"] = "Delete";
}


<h2>Từ chối đăng ký</h2>

<h3>Xác nhận từ chối</h3>


<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="RegistrationID" />
    <button type="submit" class="btn btn-danger">Delete</button> |
    <a asp-action="Index">Back to List</a>
</form>
