@model Data.Models.FAQ
@{

	

}
<!DOCTYPE html>
<html>
<head>
	<title>Create New</title>
	<link href="/css/Create.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="Word">
			<h1>Create New FAQ</h1>
		</div>
		<div class="head">
		</div>

		<div class="body">
			<form asp-action="Create" method="post" enctype="multipart/form-data">

				<div id="middle-wizard">

					<div class="step">
						<div class="form-group">
							<label asp-for="Email"></label>
							<input asp-for="Email" class="form-control" />
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Photo"></label>
							<input id="Photo" name="imageFile" type="file" class="form-control-file" />
							<span asp-validation-for="Photo" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Question"></label>
							<input asp-for="Question" class="form-control" readonly value="What are your thoughts about the conference?" />
							<span asp-validation-for="Question" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Answer"></label>
							<textarea id="Answer" name="Answer" rows="4" class="form-control"></textarea>
							<span asp-validation-for="Answer" class="text-danger"></span>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Create</button>
			</form>
		</div>
		<div class="footer">
			<a asp-action="Account" asp-controller="Student" style="color: white">Return to main page</a>
		</div>
	</div>
</body>
</html>


