@model Data.Models.FAQ

@{
    ViewData["Title"] = "Delete";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DELETE</title>
    <link href="/css/delete.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>DELETE</h2>
        <p>Do you want to delete?</p>
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="FAQID" />
            <button type="submit">Delete</button> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</body>
</html>

