@model Data.Models.User

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    
}
<style>
    .templatemo-content-widget {
        margin: 50px;
    }

    .container {
        padding: 20px;
        background: linear-gradient(to bottom right, #3498db, #9b59b6);
        color: white;
        font-size: 25px;
        line-height: 50px;
    }

    .panel {
        margin-bottom: 20px;
    }
</style>

<div class="templatemo-content-widget no-padding">
    <div class="panel panel-default table-responsive">
        <table class="table table-striped table-bordered templatemo-user-table">
            <div class="container">
                <h1>User Profile</h1>
                
                <p>User Name: @Model.UserName</p>
                <p>Email: @Model.Email</p>
                <p>Role: @Model.Role</p>
            </div>
        </table>
    </div>
</div>

