@model Data.Models.Admin
@{
    ViewData["Title"] = "Create";
}


<h2>Create New Admin</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="UserID"></label>
        <input asp-for="UserID" class="form-control" readonly value="@ViewBag.UserID" />
        <span asp-validation-for="UserID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" readonly value="@ViewBag.Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
   
    <div class="form-group">
        <label asp-for="AdminNumber"></label>
        <input asp-for="AdminNumber" class="form-control" />
        <span asp-validation-for="AdminNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="JoiningDate"></label>
        <input asp-for="JoiningDate" class="form-control" readonly value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
        <span asp-validation-for="JoiningDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

