@model Data.Models.Admin
@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html>
<head>
    <title>Create New</title>
    <link href="/css/Create.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="Word">
            <h1>Create New Competition</h1>
        </div>
        <div class="head">
            
        </div>

        <div class="body">
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label for="UserID">UserID</label>
                    <input asp-for="UserID" class="form-control" readonly value="@ViewBag.UserID" />
                    <span asp-validation-for="UserID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input asp-for="Email" class="form-control" readonly value="@ViewBag.Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="FullName">Full Name</label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="AdminNumber">Admin Number</label>
                    <input asp-for="AdminNumber" class="form-control" />
                    <span asp-validation-for="AdminNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="JoiningDate">Joining Date</label>
                    <input asp-for="JoiningDate" class="form-control" readonly value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                    <span asp-validation-for="JoiningDate" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
        <div class="footer">
            <a href="/" style="color: white">Quay lại trang chính</a>
        </div>
    </div>
</body>
</html>