@model Data.Models.User

<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>User ID: @Model.UserID</p>
    <p>User Name: @Model.UserName</p>
    <p>Email: @Model.Email</p>
    <p>Role: @Model.Role</p>
    
</body>
</html>