@model Data.Models.Response

@{
    ViewData["Title"] = "Delete";
}


<h2>Delete Response</h2>

<h3>Are you sure you want to delete this Respone?</h3>
<div>

    <h4>SurveyID: @Model.SurveyID</h4>
    <h4>Answers: @Model.Answers</h4>
    <h4>Submission Date: @Model.SubmissionDate.ToString("HH:mm dd/MM/yyyy")</h4>
   
</div>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ResponseID" />
    <button type="submit" class="btn btn-danger">Delete</button> |
    <a asp-action="Index">Back to List</a>
</form>

