

<h4>Account Student</h4>
<a href="@Url.Action("Create", "Student")">Create New</a>
<br>
<a href="@Url.Action("Logout", "User", new { returnUrl = Url.Content("~/") })">Logout</a>
<br>
<a href="@Url.Action("Profile", "User")">Thông tin</a>
<br>
<a href="@Url.Action("MyCompetitions", "SC")">My Competition</a>
<br>

<a href="/">Quay lại trang chính</a>