

<h4>Account Student</h4>
<p>
    <a asp-controller="Student" asp-action="Create">Create New</a>
</p>
<a asp-controller="User" asp-action="Logout" asp-route-returnUrl="@Url.Content("~/")">Logout</a>

<p>
    <a asp-controller="User" asp-action="Profile">Thông tin</a>
</p>